<div class="album" data-name="{{album_name}}">
    <div class="album-photo" style="background-image: url({{photo_url}});">
        <div class="album-name">
            <h3>{{album_name}}</h3>
        </div>
    </div>

</div>