<div class="overlay">
    <a href="" class="back-button">Back</a>
    <div class="photo-zoom" data-photo-id="{{photo_id}}">
        <img src="{{photo_url}}" alt="{{photo_name}}">
        <h3>{{photo_name}}</h3>  
    </div>
</div>