<div class="overlay">
    <div class="photo-zoom" data-photo-id="{{photo_id}}">
    <a href="" class="back-button">&lt; Back</a>

        <img src="{{photo_url}}" alt="{{photo_name}}">
        <h3>{{photo_name}}</h3>  
    </div>
</div>